
.day{
  background-color: cornflowerblue;
  border-color: darkred;
  border-style: solid;
  border-width: 2px;
  color: white;
  width: 7em;
  height: 7em;
  margin: 5px;
}


.week {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#today{
  background-color: plum;
}